<!DOCTYPE html>
<html>
<head>
    <title>Control de Cursor</title>
</head>
<body>
    <h1>Control de Cursor</h1>
    <button onclick="startCursor()">Iniciar</button>

    <script>
        function startCursor() {
        // Lógica para iniciar la función que mueve el cursor
        // Puedes llamar a la ruta en Flask mediante una solicitud AJAX
        fetch('/iniciar_cursor', { method: 'POST' })
            .then(response => response.text())
            .then(message => alert(message))
            .catch(error => console.error('Error:', error));
    }
    </script>
</body>
</html>
